$color-blue-violet-0: #7386D5;
$color-blue-violet-1: #ACB6E5;
$color-blue-sea-0: #007bff;
$color-green-0: #28a745;
$color-green-sky-light:#74ebd5;
$color-blue-sky-light: #17a2b8;
$color-red-0: #dc3545;
$color-white-0: #fff;
$color-grey-0: #bdbdbd;
$color-grey-1: #8d8d8d;
$color-grey-2: #494949;